# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Vite / React
node_modules
dist
dist-ssr
*.local

# dotenv environment variables
.env
.env.*.local

# Optional cache
.cache
.vite
coverage
*.tsbuildinfo

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# System
Thumbs.db
ehthumbs.db
